<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3 custom-navbar">
            <div class="container-fluid">
                <div class="d-flex justify-content-center w-100">
                    <a class="navbar-brand" asp-area="" asp-controller="BankApp" asp-action="Index">
                        <span style="font-size: 2rem;">Bank Finance AB</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto"> 
                        @if (Context?.User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="minasidor" asp-action="kundinfo">Mina sidor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="minasidor" asp-action="authinfo">Auth info</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger" asp-area="" asp-controller="minasidor" asp-action="logout">Logga ut</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="" asp-controller="minasidor" asp-action="login">Logga in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-content">
                &copy; 2024 - BankApp - 
                <a asp-area="" asp-controller="bankapp" asp-action="privacy">Privacy</a> |
                <a asp-area="" asp-controller="bankapp" asp-action="terms">Terms</a> |
                <a asp-area="" asp-controller="bankapp" asp-action="cookies">Cookies</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
