@model BankApp.Models.KundViewModel

@{
    ViewData["Title"] = "Kundinfo";
}

<br>
<center>
    <h2>Kundinformation</h2>
</center>
<br>

<form asp-controller="minasidor" asp-action="kundinfo" method="post">
<br>
    <div class="form-group">
            <label for="Personnummer">Personnummer:</label>
            <input type="text" class="form-control" id="Personnummer" asp-for="Personnummer">
            <span asp-validation-for="Personnummer" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Förnamn">Förnamn:</label>
            <input type="text" class="form-control" id="Förnamn" asp-for="Förnamn">
            <span asp-validation-for="Förnamn" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Efternamn">Efternamn:</label>
            <input type="text" class="form-control" id="Efternamn" asp-for="Efternamn">
            <span asp-validation-for="Efternamn" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Adress">Adress:</label>
            <input type="text" class="form-control" id="Adress" asp-for="Adress">
            <span asp-validation-for="Adress" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Postnummer">Postnummer:</label>
            <input type="text" class="form-control" id="Postnummer" asp-for="Postnummer">
            <span asp-validation-for="Postnummer" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Postort">Postort:</label>
            <input type="text" class="form-control" id="Postort" asp-for="Postort">
            <span asp-validation-for="Postort" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Tele">Tele:</label>
            <input type="text" class="form-control" id="Tele" asp-for="Tele">
            <span asp-validation-for="Tele" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Epost">Epost:</label>
            <input type="text" class="form-control" id="Epost" asp-for="Epost">
            <span asp-validation-for="Epost" class="text-danger"></span>
    </div>
<br>
    <div class="form-group">
            <label for="Lösenord">Lösenord:</label>
            <input type="text" class="form-control" id="Lösenord" asp-for="Lösenord">
            <span asp-validation-for="Lösenord" class="text-danger"></span>
    </div>
</form>
<br>
<br>
<p>@Model.Förnamn har lösenordet "@Model.Lösenord"</p>

<!-- asp-validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}