@model BankApp.Models.LoginViewModel

@{
    ViewData["Title"] = "Logga in";
}

<br>
<center>
    <h4>Logga in på Mina sidor</h4>
</center>

<form asp-action="login" asp-controller="minasidor" method="post" asp-antiforgery="true" class="login-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Användarnamn" style="font-size: 18px;">Användarnamn:</label>
        <input type="text" id="Användarnamn" asp-for="Användarnamn" class="form-control" required />
        <span asp-validation-for="Användarnamn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lösenord" style="font-size: 18px;">Lösenord:</label>
        <input type="password" id="Lösenord" asp-for="Lösenord" class="form-control" required />
        <span asp-validation-for="Lösenord" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Logga in</button>
    </div>

    <div class="form-group">
        <a asp-action="Register" asp-controller="BankApp" class="btn btn-primary">Registrera dig</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;     /* Centra verticalmente */
        min-height: 100vh;
        margin: 0;
        background-color: #f8f9fa;
    }

    .login-form {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        box-sizing: border-box;
        margin: auto; 
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        border: none;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    footer {
        background-color: #f8f9fa;
        border-top: 1px solid #e5e5e5;
        padding: 10px;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
</style>
