html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
  background-image: url('/images/bank.jpg');
  background-size: cover; /* Asegura que la imagen cubra toda el área de fondo */
  background-position: center; /* Centra la imagen en la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Usa flexbox para el diseño del body */
  flex-direction: column; /* Coloca los elementos en una columna */
  min-height: 100vh; /* Asegura que el body tenga al menos la altura de la vista */
}

.container {
  flex: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
  display: flex;
  flex-direction: column;
}
header {
  background-image: url('/images/bank.jpg'); /* Aplica la imagen de fondo al header */
  background-size: cover; /* Asegura que la imagen cubra toda el área del header */
  background-position: center; /* Centra la imagen en el header */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  border-bottom: none; /* Elimina el borde en la parte inferior del header */
  padding: 10px 0; /* Agrega un poco de espacio interno si es necesario */
  
}
.custom-navbar {
  display: flex;
  justify-content: space-between; /* Hace espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
}

.center-text {
  text-align: center;
  font-size: 2rem; /* Ajusta el tamaño según sea necesario */
  flex-grow: 1; /* Permite que ocupe el espacio disponible para centrarlo */
}

.center-text span {
  pointer-events: auto; /* Permite clics en el texto */
}

.navbar-collapse {
  display: flex; /* Hace un contenedor flex */
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  width: 100%; /* Asegura que tenga el ancho completo */
}


